

body,html,div,ul,li,iframe,p,img{
     border:none;padding:0;margin:0;
}
body,html{
    width:100%;height:100%;overflow: hidden;
}
body{
    text-shadow: 0 0 10px;
    font-size:14px;color:#000;font-family:"微软雅黑";
}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}

/*=S 头部区域样式 */
#header{
    width: 100%;
    height: 60px;
    z-index: 3;
    position: absolute;
    box-shadow: 0 2px 4px #ccc;
    background-color:#4A374A;
}
#header .logo{
    height: 50px;
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    position: absolute;
}
#header .logo img{
    height: 50px;
    width:50px;
}
#header .logo span{
    display: block;
    float: right;
    color: #fff;
    font-size: 160%;
    text-shadow: 0 0 10px;
    font-weight: bold;
    margin: 10px 5px; 
}
#header a.help{
	display: block;
	float: right;
	color: #fff;
	line-height: 38px;
    border-radius: 2px;
    text-shadow: 0 0 10px;
	font-size: 16px;
	padding: 0 16px;
	margin: 10px 20px 0 0;
	border: 1px solid #b1b1b1;
}
a.help:hover, #page a.help:hover{
    color: #0097db; 
    background-color:#705370
}
a.help span{
	padding-right: 10px;
	display: block;
	float: left;
	font: italic bold 26px/38px "Times New Roman",Georgia,Serif,arial,sans-serif;
}
								
/*=E 头部区域样式 */

/*=S 主体框架 */
#content{
    position: absolute;
    width:100%;
    border-bottom: 1px solid #ccc;
    top: 60px;
    left: 0;
	right: 0;
    bottom: 0;
}
/*=E 主体框架 */	

/*=S 导航部分left */
.leftsidebar_box{
    float:right;
    height:110px;
    width:100% !important;
    background-color:#4A374A;
    overflow-y: scroll;
    position: absolute;
}
.line{
    height:2px;
    width:100%;
    background-image:url(../images/left/line_bg.png);
    background-repeat:repeat-x;
}

.leftsidebar_box dl{
    padding-left:20px;
    padding-right:10px;
    background-repeat:no-repeat;
    background-position:10px center;
    background-color:#4A374A;
    color:#f5f5f5;
    text-shadow: 0 0 10px;
    font-size:16px;
    position:relative;
    line-height:50px;
    cursor:pointer;
}

.leftsidebar_box dt{
    padding-left:40px;
    padding-right:10px;
    width:86px;
    background-repeat:no-repeat;
    background-position:10px center;
    background-color:#4A374A;
    color:#f5f5f5;
    text-shadow: 0 0 10px;
    font-size:16px;
    position:relative;
    line-height:50px;
    cursor:pointer;
}
.leftsidebar_box dd{
    color:#f5f5f5;
    background-color:#4A374A;
    padding-left:0px; 
    height:30px;
    line-height:30px;
    cursor:pointer;
}

/* 鼠标悬停二级菜单时当前菜单项
.leftsidebar_box dd:hover {
	color:#a9a9a9;
	background-color:#38393f;
}
*/
        
.leftsidebar_box dt img{
    position:absolute;
    right:10px;
    top:20px;
}
.control dt{background-image:url(../images/left/system.png)}
.network dt{background-image:url(../images/left/network.png)}
.data dt{background-image:url(../images/left/source.png)}
.drawing dt{background-image:url(../images/left/channel.png)}
.ogc dt{background-image:url(../images/left/cloud.png)}
.label dt{background-image:url(../images/left/statistics.png)}
.others dt{background-image:url(../images/left/syetem_management.png)}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}
/*=E 导航部分left */  
 


/*=S 地图容器部分 */
.iframe_wrapper{
	/*width: 100%;*/
	width: 100%;
	height: 82%;
	border: none;
	z-index: 1;
	/*margin-left: 220px;*/
	margin-top: 110px;
	position: relative;
	/*top: 210px;*/
	top: 0;
	bottom: 0;
}
#container_iframe{
	width: 100%;
	height: 100%;
	border: none;
	z-index: 1;
	/*margin-left: 220px;*/
	position: absolute;
	/*top: 210px;*/
	top: 0px;
	/*left:-7px;*/
	bottom: 0px;
	background: #fff;
    
}
/*=E 地图容器部分 */			
